{% assign windowId = windowId | default: "default" %}
{% assign windowTitle = windowTitle | default: "Title" %}
{% assign windowHeight = windowHeight | default: "fit-content" %}
{% assign windowWidth = windowWidth | default: "fit-content" %}
{% assign windowX = windowX | default: "0" %}
{% assign windowY = windowY | default: "0" %}
{% assign renderPath = renderPath | default: "partials/default" %}
{% assign visible = visible %}

<div class="window{% unless visible %} hidden{% endunless %}" data-id="{{ windowId }}" 
     style="width: {{ windowWidth }}; height: {{ windowHeight }}; left: {{ windowX }}; top: {{ windowY }}">
    <div class="window-header">
        <div class="window-title">
            {{ windowTitle }}
        </div>
        <div class="window-controls">
            <button class="ui window-control expand"></button>
            <button class="ui window-control close"></button>
        </div>
    </div>
    <div class="window-body">
        <div class="window-content">
            {% render renderPath %}
        </div>
        <div class="window-scrollbar">
            <div class="window-thumb"></div>
        </div>
    </div>
</div>
